<p id="notice"><%= notice %></p>
<div class="container">
<h1>Confirm your address</h1>

<table>
<thead>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
  </tr>
</thead>

  <tbody>

      <tr>
        <td><%= current_user.name %></td>
        <td><%= current_user.address %></td>
        <td><%= current_user.phone %></td>
      </tr>

  </tbody>

</table>

<br>
<a href="/cart" class="btn waves-effect waves-light">Back</a>
<a href="/shippings" class="btn waves-effect waves-light">Next</a>
<br><br>
</div>
