<p id="notice"><%= notice %></p>

<h1>Select your preferred Shipping methods</h1>

<table>
<thead>
  <tr>
    <th>Courier Service</th>
    <th>Cost</th>
    <th>Estimated Delivery</th>
  </tr>
</thead>

  <tbody>

      <tr>
        <td>Pos Laju</td>
        <td>RM10.00</td>
          <td>1 to 2 days</td>
      </tr>

  </tbody>

</table>


<br>
<a href="/payments" class="button">Next</a>
