<div class="about">
  <div class="row align-spaced">
    <div class="column small-4">
      <h1>About Us</h1>
      <p>
        Welcome to Old Folk Shop, the number one online shop that sells all sort of products suitable for old people's lifestyle.
      </p>
      <p>
        This website is created by Terrence Chong and Steve Wong during MaGIC Full Stack Web Development course in August 2016.
      </p>
    </div>
    <div class="column small-4">
      <h1>Contact Us</h1>
      <p>
        <i class="fa fa-envelope" aria-hidden="true"></i> contact@oldfolkshop.com
        <br />
        Email us and we will reply within 24 hours.
      </p>
      <p>
        <i class="fa fa-phone" aria-hidden="true"></i> +60-12-3456789
        <br />
        Call us during business hours.
      </p>
    </div>
  </div>
</div>
