<div class="faq">
  <h1>Frequently Asked Questions (FAQ)</h1>
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">Where are you located and do you have a brick-and-mortar shop so that I could come over and buy?</div>
      <div class="collapsible-body"><p>We're located in Seremban, 1 hour drive away from Kuala Lumpur. Unfortunately, our warehouse is Not open for walk-in purchase. The reason is we have a huge selections of supplies that occupying a 3-storey building, it is just too difficult to display and manage the supplies in retail method.</p></div>
    </li>
    <li>
      <div class="collapsible-header">How To Buy?</div>
      <div class="collapsible-body"><p>It's as simple as 1-2-3! Just place order online using our shopping cart, it's easy and fun to use! Refer detail tutorial HERE.</p></div>
    </li>
    <li>
      <div class="collapsible-header">How much is the postage to Malaysia?</div>
      <div class="collapsible-body">
        <p>
          Shipping charge starts from RM5 (West Malaysia) and RM8 (East Malaysia) and above. Our system will calculate the shipping charge automatically based on the weight of your order.
        </p>
        <p>
          FREE SHIPPING is available for order above RM85 (incld GST - West Malaysia) or RM128 (incld GST - East Malaysia for up to 1Kg, discounted shipping rate apply for weight > 1Kg). For order below RM85/RM128 you can check the shipping rate at shopping cart page, our system will automatically calculate the postage upon checking out your order. Refer detail shipping charge HERE.
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header">How long does it usually take to process orders?</div>
      <div class="collapsible-body"><p>It normally takes us less than 1 business days to prepare your goods after receiving your order and payment. Most of the time orders are prepared within few hours during our business day. Orders received before 12:00 noon (Mon-Fri) are normally ship out same day. Delivery is normally next business day. Some areas (mostly in Sabah & Sarawak) requires 2 to 3 business days for delivery.</p></div>
    </li>
    <li>
      <div class="collapsible-header">How to track shipment?</div>
      <div class="collapsible-body"><p>Tracking number will be updated in your account daily (Mon - Fri) after 6pm. To track order, simply login to your account with us, you'll find tracking link under Account Dashboard next to your order. Alternatively, tracking link will also be emailed to you automatically. Please check your email in the inbox or spam folder.</p></div>
    </li>
    <li>
      <div class="collapsible-header">Are all your products ready stock or pre-order?</div>
      <div class="collapsible-body"><p>All our products are ready stock. However, admittedly keeping store inventory accurately is a feat that not every retailer in the world can manage with current technology, including us. If some goods in your order are out of stock, we will keep you updated by emailing you.</p></div>
    </li>
    <li>
      <div class="collapsible-header">Can I place order online and later self collect at your warehouse?</div>
      <div class="collapsible-body"><p>No. All online orders must be shipped.</p></div>
    </li>
  </ul>
</div>
