.header {
  // header partial stylesheets here
  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #6d9dc5;
    display: inline-block;
    // align: center;
    vertical-align: middle;
  }
  .navImg  {
    margin-left: 20px;

  }
  .chip {
    vertical-align: top;
    margin-top: 5px;
  }
}
