


<% flash.each do |k,v| %>
<section class="flash-messages">
  <% k = "alert" if k == "danger" %>
  <% k = "success" if k == "notice" %>
  <div class="alert alert-<%=k%> alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <i class="icon-check"></i>
      <%= display_message(v) %>
  </div>
</section>
<% end %>
