<% flash.each do |k,v| %>
<section class="flash-messages">
  <% k = "alert" if k == "danger" %>
  <% k = "success" if k == "notice" %>
  <div class="callout <%=k%>" data-closable>
    <div class="message">
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
      <%= display_message(v) %>
    </div>
  </div>
</section>
<% end %>
