<div class="footer">

  <div class="callout large secondary">
    <div class="row">
      <div class="large-4 columns">
        <h5>Old Folk Shop</h5>
        <p>is pioneering e-commerce in Malaysia by offering a fast, secure and convenient online shopping experience with a broad product offering to meet elderlies' needs.</p>
        <div
          class="fb-like"
          data-share="true"
          data-width="450"
          data-show-faces="true">
        </div>
      </div>
      <div class="large-3 large-offset-2 columns">
        <ul class="menu vertical">
          <li><a href="#">Medicines</a></li>
          <li><a href="#">Adult Diapers</a></li>
          <li><a href="#">Hearing Aids</a></li>
          <li><a href="#">Elderly Phones</a></li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul class="menu vertical">
          <li><a href="#">Walkers</a></li>
          <li><a href="#">Wheelchairs</a></li>
          <li><a href="#">Bed Rails</a></li>
          <li><a href="#">Bathroom Equipments</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
