<div class="footer">
  <footer class="page-footer light-blue lighten-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">Old Folk Shop / <%=link_to "About", about_path %> / <%=link_to "FAQ", faq_path %></h5>
          <p class="black-text text-lighten-4">is pioneering e-commerce in Malaysia by offering a fast, secure and convenient online shopping experience with a broad product offering to meet elderlies' needs.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="black-text">Categories</h5>
          <ul>
            <li><a class="blue-text" href="#!">Medicines</a></li>
            <li><a class="blue-text" href="#!">Adult Diapers</a></li>
            <li><a class="blue-text" href="#!">Hearing Aids</a></li>
            <li><a class="blue-text" href="#!">Elderly Phones</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="black-text">&nbsp;</h5>
          <ul>
            <li><a class="blue-text" href="#!">Walkers</a></li>
            <li><a class="blue-text" href="#!">Wheelchairs</a></li>
            <li><a class="blue-text" href="#!">Bed Rails</a></li>
            <li><a class="blue-text" href="#!">Bathroom Equipments</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Repo open sourced: <a class="black-text text-lighten-3" href="https://github.com/ahwong5/oldfolkshop">Github</a>
      </div>
    </div>
  </footer>
</div>
