
<section>
  <div class="container">
    <%= form_tag(items_path, method: "get", id: "search-form", class: "center-align center-block") do %>
    <%= search_field_tag :search, params[:search], placeholder: "Search for products, brands" %>
    <label for="search"><i class="fa fa-search fa-2x" aria-hidden="true"></i></label>
    <% end %>
  </div>
</section>
