<p id="notice"><%= notice %></p>

<h1>Select your preferred Payments methods</h1>

<table>
<thead>
  <tr>
    <th>Payment Provider</th>
    <th>Available Payment Methods</th>
    <th>Estimated Delivery</th>
  </tr>
</thead>

  <tbody>

      <tr>
        <td>Bill Plz</td>
        <td>Credit Card or Internet Banking</td>
          <td>1 to 2 days</td>
      </tr>

  </tbody>

</table>


<br>
<a href="/order_confirmation" class="button">Next</a>
