<div class="container">
  <h1>Categories</h1>
  <div class="row center-align">
    <% icons = ['wheelchair-alt', 'braille', 'wheelchair', 'blind', 'volume-control-phone', 'assistive-listening-systems', 'female', 'user-md'] %>
    <% @categories.each_with_index do |category, index| %>
    <div class="col s12 m4 l4">
      <h2 class="center blue-grey-text"><i class="fa fa-<%=icons[index]%>" aria-hidden="true"></i></h2>
      <h5 class="center"><%= link_to category.name, category_path(category) %></h5>
      <p class="light"><%= category.description %></p>
    </div>
    <% end %>
  </div>
</div>
